#set($layout =  "share/hi-layout.vm" )
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 任务管理 <span class="c-gray en">&gt;</span> 任务日志列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <form>
            日志日期：
            <input type="text" onfocus="WdatePicker({maxDate:'#F{\'%y-%M-%d\'}',dateFmt:'yyyy-MM-dd'})" id="datemin" name="queryDate" value="$!queryDate" class="input-text Wdate" style="width:120px;">
            时间范围：
            <input type="text" onfocus="WdatePicker({dateFmt:'HH:mm:ss'})" id="datemin" name="startTime" value="$!startTime" class="input-text Wdate" style="width:120px;">
            -
            <input type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d',dateFmt:'HH:mm:ss'})" id="datemax" name="endTime" value="$!endTime" class="input-text Wdate" style="width:120px;">
            <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </form>
    </div>
    <div class="mt-20">
        <div class="dataTables_wrapper no-footer">
            <table class="table table-border table-bordered table-hover table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="6">任务日志列表</th>
                </tr>
                <tr class="text-c">
                    <th width="200">作业名</th>
                    <th width="300">日志</th>
                    <th width="300">创建时间</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($item in $logs.model)
                    <tr class="text-c">
                        <td>$!{item.jogName}</td>
                        <td>$!{item.log}</td>
                        <td>$!date.format('yyyy-MM-dd HH:mm:ss',$item.createTime)</td>
                    </tr>
                    #end
                </tbody>
            </table>
##            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">显示 1 到 1 ，共 1 条</div>
##            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
##                <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">上一页</a>
##                <span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span>
##                <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">下一页</a>
##            </div>
            #pagination($logs,"/job/log?queryDate=$!{queryDate}&startTime=$!{startTime}&endTime=$!{endTime}")
        </div>
    </div>
</div>

<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/js/h-ui/H-ui.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/resource/js/h-ui/H-ui.admin.js"></script>